

  <div class="tm-main">

    <div class="tm-welcome-section">
      <div class="container tm-navbar-container">
        <div class="row">
          <div class="col-xl-12">
            <nav class="navbar navbar-expand-sm">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a routerLink="" class="nav-link tm-nav-link tm-text-white">Home</a>
                </li>
             
                <li class="nav-item">
                  <a routerLink="/contact" class="nav-link tm-nav-link tm-text-white active">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="container text-center tm-welcome-container">
        <div class="tm-welcome">
   
          <h1 class="text-uppercase mb-3 tm-site-name">Contact Us</h1>
         
        </div>
      </div>

    </div>



      <div class="row tm-mt-big tm-about-row tm-mb-medium">
   
            <!-- GOOGLE MAP -->
             <div id="google-map" class="text-center mb-5">
             <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
              -->
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" width="360" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>

             <div>
               <h2 class="tm-media-2-header tm-text-pink-dark mb-3">Our Location</h2>
               <address class="mb-4">
                 990 Maecenas lobortis dolor,<br>
                 Mar road <br>
                 colombo 10
               </address>
                <p class="mb-0">Tel: <a href="tel:+0100200980" class="tm-link-gray">010-020-0980</a></p>
                <p class="mb-0">Fax: <a href="tel:+0900800770" class="tm-link-gray">090-080-0770</a></p>
             </div>
          </div>
 <!---->   
      </div>

      
      <footer class="row">
        <div class="col-xl-12">
          <p class="text-center p-4"> &copy; <span class="tm-current-year">2020</span> Design:  Sandalanka</p>
        </div>
      </footer>
    

 <!--- </div> -> <!-- .main -->

  <!-- load JS -->
  <script src="js/jquery-3.2.1.slim.min.js"></script> <!-- https://jquery.com/ -->
  <script src="js/bootstrap.min.js"></script>         <!-- https://getbootstrap.com/ -->
  <script>

    /* DOM is ready
    ------------------------------------------------*/
    $(function () {

      if (renderPage) {
        $('body').addClass('loaded');
      }

      $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright
    });

  </script>
